<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>太极岛投资合作方案</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/black.css" id="theme">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="reveal">


        <div class="slides">
            <!-- HOME PAGE -->
            <section data-background-image="img/homebg.jpg">

                <img src="img/jkq-logo.png" style="width:240px;">
                <div style="width:100%; height: 240px; background-color: rgba(131, 186, 238, 0.9);">
                    <img src="img/tjd-logo.png" style="width:240px;">
                    <h3>投 资 合 作 方 案</h3>
                </div>
                <h5 style="line-height: 2em;">重庆海滨鑫缘饮食文化有限公司</h5>

            </section>

            <section>
                <h3 class="titleText">海滨鑫缘公司简介</h3>
                <img src="img/gsjj.jpg">
            </section>


            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">投资项目现状分析</h3>

            </section>




            <section>

                <h3 class="titleText">太极岛卫星平面图</h3>
                <img src="img/wxt.jpg" style="width:100%;">

            </section>



            <section>

                <h3 class="titleText">太极岛服务区域</h3>
                <img src="img/fwqy.jpg" style="width:100%;">

            </section>



            <section>
                <h3 class="titleText">投资项目现状分析</h3>
                <img src="img/tjdqj.jpg" style="width:100%;">
                <h5>优势</h5>

                <div style="width:100%;">
                    <div class="pbox">

                        <p> 项目位于茶园经开区腹地，太极岛中绿被植物茂盛，河沟成天然太极形状，大都市“闹中取静”独有资源。</p>
                        <p> 太极岛现有通过改造升级可再利用的固定房屋约5800㎡（别墅、厨房餐厅，娱乐小房）。可改造升级绿地面积350亩，可塑空间巨大。</p>
                    </div>
                </div>

            </section>



            <section>
                <h3 class="titleText">投资项目现状分析</h3>
                <img src="img/ls01.jpg" style="width:100%;">

                <h5>劣势</h5>

                <div style="width:100%;">
                    <div class="pbox">

                        <p>太极岛周边存留乱搭建，环境脏、乱、差。</p>
                    </div>
                </div>
            </section>




            <section>
                <h3 class="titleText">投资项目现状分析</h3>
                <img src="img/ls02.jpg" style="width:100%;">

                <h5>劣势</h5>

                <div style="width:100%;">
                    <div class="pbox">
                        <p>河道垮塌，河沟水质污染严重；</p>
                        <p>生活污水排放无管网、无天然气；</p>
                    </div>
                </div>
            </section>


            <section>
                <h3 class="titleText">投资项目现状分析</h3>
                <img src="img/ls03.jpg" style="width:100%;">

                <h5>劣势</h5>

                <div style="width:100%;">
                    <div class="pbox">
                        <p>植被缺乏维护，杂乱无序、野蛮生长；</p>
                    </div>
                </div>
            </section>




            <section>
                <h3 class="titleText">投资项目现状分析</h3>
                <img src="img/ls04.jpg" style="width:100%;">

                <h5>劣势</h5>

                <div style="width:100%;">
                    <div class="pbox">
                        <p>原建筑老旧、破损、分布杂乱；</p>
                    </div>
                </div>
            </section>




            <section>
                <h3 class="titleText">投资项目现状分析</h3>

                <h5 style="text-align: left;">1、投资大（2000万以上）</h5>
                <div class="pbox">
                    <p>基础环境治理投资：河道整治、污水处置、污水管网建设、水电气恢复；</p>
                    <p>经营环境治理投资：景观环境治理、步道治理、停车场新建；</p>
                    <p>经营场所改造投资：内外改造装修；</p>
                    <p>大环境改造升级投资：太极岛周边区域环境改造整治和新建景观；</p>
                </div>
                <h5 style="text-align: left;">2、不确定因素多</h5>
                <div class="pbox">
                    <p>政府苦溪河整体升级改造方案搁浅，新方案未出来，何时出来不确定；</p>
                    <p>太极岛区域及周边绿化地的规划明确，景观设计方案何时出来不确定；</p>
                    <p>投资经营期限受制政府河道整治等方案，投资经营期限不确定；</p>
                    <p>受疫情影响投资回报期不确定；</p>
                </div>

            </section>




            <section>
                <h3 class="titleText">投资项目现状分析</h3>

                <h5 style="text-align: left;"> 投资合作策略 </h5>
                <div class="pbox">
                    <p>1、基础环境整治资金由政府部门出资；</p>
                    <p>2、太极岛周边区域环境按景观湿地公园改造治理创收获取投资补偿；</p>
                    <p>3、增加生态业态创收；</p>
                    <p>4、按公园景观+商业房产开发整体打造。</p>
                </div>

            </section>


            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">太极岛核心区设计构想</h3>

            </section>


            <section>

                <h3 class="titleText">白天效果图</h3>
                <img src="img/tjd-day01.jpg" alt="">

            </section>
            <section>

                <h3 class="titleText">夜间效果图</h3>
                <img src="img/tjd-lighting.jpg" alt="">

            </section>



            <section>

                <div class="modalTip">
                    <div>
                        <img src="img/yt01.jpg" alt="">
                    </div>
                </div>

            </section>

            <section>

                <div class="modalTip">
                    <div>
                        <img src="img/yt02.jpg" alt="">
                    </div>
                </div>

            </section>


            <section>


                <div class="modalTip">
                    <div>
                        <img src="img/yt03.jpg" alt="">
                    </div>
                </div>

            </section>



            <section>

                <div class="modalTip">
                    <div>
                        <img src="img/yt04.jpg" alt="">
                    </div>
                </div>

            </section>


            <section>

                <div class="modalTip">
                    <div>
                        <img src="img/yt05.jpg" alt="">
                    </div>
                </div>

            </section>



            <section>

                <div class="modalTip">
                    <div>
                        <img src="img/yt06.jpg" alt="">
                    </div>
                </div>

            </section>



            <section>

                <div class="modalTip">
                    <div>
                        <img src="img/yt07.jpg" alt="">
                    </div>
                </div>

            </section>



            <section>

                <div class="modalTip">
                    <div>
                        <img src="img/yt08.jpg" alt="">
                    </div>
                </div>

            </section>



            <section>

                <div class="modalTip">
                    <div>
                        <img src="img/yt09.jpg" alt="">
                    </div>
                </div>

            </section>



            <section>

                <div class="modalTip">
                    <div>
                        <img src="img/yt10.jpg" alt="">
                    </div>
                </div>

            </section>





            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">太极岛生态商业沿河景观</h3>

            </section>



            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">健身步道示意图</h3>

                <img src="img/bd.jpg" alt="" style="height: 30vh;">

            </section>



            <section>
                
                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">太极岛形象石</h3>
                
                <img src="img/bd02.jpg" alt="" style="height: 30vh;">
                
            </section>
            
            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">健身步道风格参考</h3>

                <img src="img/bd01.jpg" alt="" style="height: 30vh;">

            </section>


            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">健身步道景观太阳能灯</h3>

                <img src="img/bd03.jpg" alt="" style="height: 30vh;">

            </section>

            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">健身步道景观雕塑</h3>

                <img src="img/bd04.jpg" alt="" style="height: 30vh;">

            </section>













            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">项目整体概念设计方案</h3>

            </section>



            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">整体概念设计效果图</h3>
                </div>

                <img src="img/zpt01.jpg" alt="">

            </section>


            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">整体概念设计效果图(业态拓展)</h3>
                </div>

                <img src="img/zpt00.jpg" alt="">

            </section>

            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h5 class="titleText">业态拓展-采摘区</h5>
                </div>

                <img src="img/zpt02.jpg" alt="" style="height: 30vh;">

            </section>


            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h5 class="titleText">业态拓展-林中花卉赏玩馆</h5>
                </div>

                <img src="img/zpt04.jpg" alt="" style="height: 30vh;">

            </section>

            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h5 class="titleText">业态拓展-林中书画艺术馆</h5>
                </div>

                <img src="img/zpt07.jpg" alt="" style="height: 30vh;">

            </section>


            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h5 class="titleText">业态拓展-林中奇石赏玩馆</h5>
                </div>

                <img src="img/zpt08.jpg" alt="" style="height: 30vh;">

            </section>




            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">整体方案效果阐述</h3>
                </div>
                <div class="pbox">

                    <p>河水清澈，河道如锦带飞舞；</p>
                    <p>绿树成阴、果树成片、四季花香，错落有致；</p>
                    <p>河水、草坪、果树、鲜花、树林、步道、生态商业贯穿其间；</p>
                    <p>近有通江大道边的太极休闲观光广场；中有四季青生态四季果园、草坪、花卉景观，健身步道，影视、婚纱拍摄；远有太 极岛商务会议、林下休闲、林下茶饮、林下咖啡、特色中餐、养生汤锅/火锅、恋爱小岛；
                    </p>
                    <p>还有太极岛亲子儿童乐园、智谷、新天泽商务园、美的空调品牌、VIVO手机基地任你游玩。空中有高铁/动车飞驰，液晶大屏幕直播；河里有鱼儿游动，鹅卵石沙滩戏耍歇脚。</p>
                    <p>垂钓、赏花、古玩、奇石、摘果、美食等生态商业丰富休闲内容，创造业态经济。</p>
                </div>

            </section>








            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">合作模式 </h3>

            </section>




            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">合作模式</h3>
                </div>
                <h5>（一）成立项目管理股份公司</h5>

                <div class="pbox">

                    <p>经开投作为经开区管委会平台，拥有四季青太极岛400亩绿化地整治、经营、管理权利和责任，作为项目的实施主体（已征地或具有使用权），通过经开投平台招商引资方式，引入投资人合作。</p>
                    <p>重庆海滨鑫缘饮食文化有限公司积极响应经开投太极岛招商公告，邀请贵州《云谷田园》策划、设计团队现场实勘太极岛及周边区域，增加高端精品果树等业态，指导设计《投资合作方案》。</p>
                    <p>经开投和重庆海滨鑫缘饮食文化有限公司共同成立太极岛项目管理有限公司，重庆海滨鑫缘饮食文化有限公司给太极岛项目管理有限公司拟注入启动资金1000-2000万元。</p>
                    <p>太极岛项目管理有限公司负责四季青太极岛及其周边区域景观、生态设计（聘请国际/国内品牌设计团队）；负责整治改造投资、施工、维护；负责业态经济项目招商融资、经营管理等工作；负责生态住宅、商业区招商、建设、营销等工作。
                    </p>
                    <p>太极岛项目管理有限公司保证高效高质完成恢复太极岛营业和四季青及周边生态升级改造任务。不仅将其打造为南岸区、经开区区域企业的“企业俱乐部”、南岸区、经开区区域的“文化休闲地”、“网红打卡地”，还将其升级为中国的城市生态经济示范基地、世界游客的“网红打卡地”，最大限度地发挥四季青+太极岛的经济价值和社会价值。
                    </p>
                </div>

            </section>





            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">合作模式</h3>
                </div>
                <h5>（二）项目管理公司盈亏分享</h5>
                <div class="pbox">

                    <p>太极岛项目管理有限公司按股份制公司化独立运作，经开投负责财务监管。公司盈亏分享比例如下（供招商方选择）：</p>
                    <p>1、招商方0出资，分享比例：招商方35%，投资方65%。</p>
                    <p>2、招商方和投资方共同出资，按出资比例分享</p>
                    <p>3、招商方全出资，投资方出方案和实施方案的团队，分享比例： 招商方65%，投资方35%。</p>
                </div>
            </section>



            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">项目实施原则与计划 </h3>

            </section>






            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目实施原则与计划</h3>
                </div>
                <h5>项目实施原则</h5>
                <div class="pbox">

                    <p>依据政府整体规划</p>
                    <p>招商确定方案及实施计划；</p>
                    <p>统筹安排、科学布局；</p>
                    <p>安全环境治理优先、生态经济优先, 达到零排放；</p>
                    <p>不减少现有林木；</p>
                    <p>不增加固定建筑物；</p>
                    <p>太极岛商务服务核心区域争取内部环境治理、改造升级和各业态装修同期完成，太极岛岛内业态一并开业；</p>
                    <p>太极岛周边业态以项目公司贷款融资自营+招商融资并举；</p>
                </div>
            </section>

            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目实施原则与计划</h3>
                </div>
                <h5>项目实施计划</h5>
                <div class="pbox">

                    <p>环境治理改造项目（8月30日前完工） </p>
                    <p>1、河道治理+污水治理工程预算、施工；</p>
                    <p>2、生活污水管网设计、预算、施工；</p>
                    <p>3、四季青+太极岛绿化景观设计优化、预算、施工；</p>
                    <p>4、房屋修缮加固设计、预算、施工；</p>
                    <p>5、步道整治施工。</p>
                </div>

            </section>

            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目实施原则与计划</h3>
                </div>
                <h5>项目实施计划</h5>
                <div class="pbox">

                    <p>岛内业态升级装修工程（9月30日前完工）</p>
                    <p>1、水电气恢复施工；</p>
                    <p>2、会议室设计改造、装修设计、装修施工；</p>
                    <p>3、中餐厨房、餐厅设计改造、装修设计、装修施工；</p>
                    <p>4、5栋别墅装修设计、装修施工；</p>
                    <p>5、茶水吧、咖啡厅等业态设计、装修施工。</p>
                    <p>6、灯饰工程设计、施工；</p>
                    <p>7、消防工程设计、报备、施工、验收。</p>
                </div>

            </section>




            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目实施原则与计划</h3>
                </div>
                <h5>项目实施计划</h5>
                <div class="pbox">
                    <p>岛内业态开业准备、试运营、开业（9月30日前完成）</p>
                    <p>1、优选生态行业招商入岛；</p>
                    <p>2、审核内部装修、营业条件；</p>
                    <p>3、各业态员工培训、考核、检验达标试营业；</p>
                </div>
            </section>

            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目实施原则与计划</h3>
                </div>
                <h5>项目实施计划</h5>
                <div class="pbox">

                    <p>商务宣传（8月起）</p>
                    <p>1、广告、媒体、网络、抖音、微信、直播等；</p>
                    <p>2、户外大显示屏展播；</p>
                    <p>3、服务质量、景观特色等效应。</p>
                </div>
            </section>


            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目实施原则与计划</h3>
                </div>
                <h5>项目实施计划</h5>
                <div class="pbox">

                    <p>商务宣传（8月起）</p>
                    <p>1、广告、媒体、网络、抖音、微信、直播等；</p>
                    <p>2、户外大显示屏展播；</p>
                    <p>3、服务质量、景观特色等效应。</p>
                </div>
            </section>










            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">项目资金来源及预估金额 </h3>

            </section>


            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目资金来源及预估金额</h3>
                </div>
                <div class="pbox">
                    <h5>（一）环境基础项目预估投资1000-1500万元（政府出资）</h5>
                    <p>1、河道整治项目（太极岛内河道、太极岛外河道、四季青河道）, 600万-900万。</p>
                    <p>2、污水源口整治项目（四季青上游水源口、太极岛内河入口）, 80万-100万。</p>
                    <p>3、生活污水管网新建项目, 200万-300万。</p>
                    <p>4、水电气恢复项目, 10万-20万。</p>
                    <p>5、太极岛及其周边区域大景观设计项目, 110万-200万。</p>
                </div>
            </section>

            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目资金来源及预估金额</h3>
                </div>
                <h5>（二）太极岛内经营环境基础项目预估投资500万元 </h5>
                <div class="pbox">

                    <p>1、景观绿化优化设计、预算、施工, 200万；</p>
                    <p>2、房屋修缮加固设计、预算、施工, 50万；</p>
                    <p>3、步道整治施工,200万 ;</p>
                    <p>4、生态停车场设计、施工, 50万；</p>
                </div>

            </section>


            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目资金来源及预估金额</h3>
                </div>
                <h5>（三）太极岛内经营场所装修项目预估投资1000万元 </h5>
                <div class="pbox">
                    <p>1、会议室设计改造、装修设计、装修材料、装修施工, 300万；</p>
                    <p>2、中餐厨房、餐厅设计改造、装修设计、装修材料、装修施工, 200万；</p>
                    <p>3、5栋别墅装修设计、装修材料、装修施工, 300万；</p>
                    <p>4、茶水吧、咖啡厅等业态设计、装修材料、装修施工, 50万。</p>
                    <p>5、亮化灯饰工程设计、设施设备、施工, 100万；</p>
                    <p>6、消防工程设计、报备、材料、施工、验收, 50万。</p>
                </div>
            </section>





            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目资金来源及预估金额</h3>
                </div>
                <div class="pbox">
                    <h5>（四）太极岛内经营场所、经营设施设备预估投资500万元 </h5>
                    <p>1、会议室设施设备, 100万；</p>
                    <p>2、中餐厨房、餐厅设施设备, 100万；</p>
                    <p>3、5栋别墅设施设备, 100万；</p>
                    <p>4、茶水吧、咖啡厅等业态设施设备, 30万；</p>
                    <p>5、亮化灯饰工程控制设备, 50万；</p>
                    <p>6、消防安全监控设施设备, 50万；</p>
                    <p>7、步道文化设施设备, 70万；</p>
                </div>

            </section>



            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目资金来源及预估金额</h3>
                </div>
                <h5>（六）太极岛拓展生态商业预估投资10000万元（自筹+融资） </h5>

            </section>




            <section>

                <img src="img/tjd-logo.png" style="width:240px;">
                <h3 class="titleText">项目的经济价值和社会价值 </h3>

            </section>




            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目的经济价值和社会价值</h3>
                </div>
                <div class="pbox">
                    <h5>经济价值</h5>
                    <p>1.太极岛生态商业及其配套服务将新增投资2000万元以上，拉动消费，10年新增产值3亿元以上；税费3000万元以上，经开投新增收益1500万元以上。</p>            
                    <p>2.太极岛周边区域生态商业将新增投资1亿元以上投资，促进休闲消费，10年新增产值10亿元以上；税费10000万元以上，经开投新增收益1000万元以上。</p>                    
                    <p>3.太极岛区域商业、住宅开发将新增投资5-10亿元，经济效益更大。</p>                    
                </div>
            </section>

            <section>

                <div>
                    <img src="img/tjd-logo.png" style="height: 80px; top: 0px;">
                    <h3 class="titleText">项目的经济价值和社会价值</h3>
                </div>
                <div class="pbox">
                    <h5>社会价值</h5>
                    <p>1.为南岸区及经开区新增网红打卡消费地，企业俱乐部, 青山绿水休闲，生态经济产业示范地。</p>
                    <p>2.在疫情期间有效解决装修、土建、环保、园林、家具、灯饰等小企业复工复产，解决农民工300人次临时就业，解决200个就业岗位。</p>                
                    <p>3.为茶园区域市民提供休闲、相亲、餐饮、娱乐消费场所。</p>
                </div>
            </section>







            






        </div>

    </div>
    <script src="js/reveal.js"></script>
    <script src="plugin/zoom/zoom.js"></script>
    <script src="plugin/notes/notes.js"></script>
    <script src="plugin/search/search.js"></script>
    <script src="plugin/markdown/markdown.js"></script>
    <script src="plugin/highlight/highlight.js"></script>
    <!-- Socket.io client-->
    <script src="js/socket.io.js"></script>
    <script src="js/config.js"></script>
    <script src="js/main.js"></script>
</body>

</html>